<html>

<head>
<title>My Webstore</title>
</head>

<body>

<h1>Meet the team behind the magic!</h1>

<p>This page was written by <%= @name %></p>

<h2>
    <p><%= link_to "Buy my products!", "/" %></p>
    <p><%= link_to "What's on my mind?", "/blog" %></p>
</h2>

<table class = "table table-striped">
    <tbody>
        <% @myteam.each do |team| %>
        <tr>
            <td><%= image_tag team[:img] %></td>
            <td><%= team[:name] %></td>
            <td><%= team[:description] %></td>
        </tr>
        <% end %>
    </tbody>
</table>

</body>
</html>