<html>

<head>
<title>My Webstore</title>
</head>

<body>

<h1>Welcome to Mike's General Store!</h1>

<p>This page was written by <%= @name %></p>

<h2>
<p><%= link_to "Meet the team!", "/about" %></p>
<p><%= link_to "What's on my mind?", "/blog" %></p>
</h2>

<table class = "table table-striped">
    <tbody>
        <% @myproducts.each do |product| %>
        <tr>
            <td><%= image_tag product[:img] %></td>
            <td><%= product[:name] %></td>
            <td><%= product[:description] %></td>
            <td><%= product[:price] %></td>
            <td><%= product[:quantity] %></td>
        </tr>
        <% end %>
    </tbody>
</table>

</body>
</html>